body{
   
    background-size: cover;
    background-repeat: no-repeat;
}
.nevbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-right:0px;
    margin-right: 0px;
}

.left > h1{
    padding: 0;
    margin-top: 10px;
    color: white;
}

.carousel{
    height: 500px;
    margin-bottom: 50px;
}
.carousel .item{
    height: 500px;
}
    
.carousel-inner > .item > img{
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    

}
.col-lg-4{
   text-align: center;
}
.contanier{
    margin-bottom: 50px;
}
.col-lg-5 > img{
    border-radius: 30px;
}
.col-lg-4 > p{
    text-align: center;
    padding: 0;
    margin: 0px 0px;
}
.a{
    height: 100%;
    background-color: grey;
    border: 1px solid;
}
.a> h1{
    text-align: center;
    
}
h3{
    margin-top: 0px;
}
.ff{
    width: 270px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 40%;

}
.col-lg-7> a{
    text-decoration: none;
    color: #383737;
}
.col-lg-7> a:hover{
    color: lightgray;
}