body{
   
    background-size: cover;
    background-repeat: no-repeat;
}
.nevbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-right:0px;
    margin-right: 0px;
}

.left > h1{
    padding: 0;
    margin-top: 10px;
    color: white;
}

.carousel{
    height: 500px;
    margin-bottom: 50px;
}
.carousel .item{
    height: 500px;
}
    
.carousel-inner > .item > img{
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    

}
.col-lg-4{
   text-align: center;
}
.contanier{
    margin-bottom: 50px;
}
.col-lg-5 > img{
    border-radius: 30px;
}
.col-lg-4 > p{
    text-align: center;
    padding: 0;
    margin: 0px 0px;
}
.a{
    height: 100%;
    background-color: grey;
    border: 1px solid;
}
.a> h1{
    text-align: center;
    
}
h3{
    margin-top: 0px;
}
.ff{
    width: 270px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 40%;

}
.col-lg-7> a{
    text-decoration: none;
    color: #383737;
}
.col-lg-7> a:hover{
    color: lightgray;
}


/*price plan list */


#price
{
    padding: 40px 0;
    background: #efefef;
}
.single-price
{
    margin: 10px auto;
    display: inline;
    float: left ;
    
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover
{
    box-shadow: 0 2px 20px #333;
}
.price-head
{
    background-color: #2196f3;
    display: inline;
   float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;

}
.price-head h2
{
color: #fff;
font-size: 30px;
font-weight: bold;
margin-bottom: 5px;
padding: 5px;
text-transform: uppercase;
}
.price-head h3
{
 font-size: 25px;
 font-weight: bold;
 color: #ccc;
 line-height: 30px;
}
.price-head p
{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content
{
    display: inline;
    float:left;
    width: 100%;
    padding: 0 15px;
    
}
.price-content ul li
{
border-bottom: 1px solid #efefef;
padding: 15px 10px;
list-style: none;
}
ul li:last-child
{
    border: none;
}
.price-button
{
display: inline;
float: left;
padding: 15px 15px 30px;
text-align: center;
width: 100%;
}

.buy-btn
{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s;
}
.buy-btn:hover
{
    border-color: 1px solid white;
    background-color: #3f51b5;
}

a{
    text-decoration: none!important;
    color: #fff!important;
}



/* price plan list ends*/
